<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
  <%= image_tag @user.avatar_file.url(:thumb) %>
  <%= link_to 'Download resume', @user.resume.url %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
