<h1><%= @post.title %></h1>
<p>
  <%= link_to 'Back', root_path %>
</p>
<p>
  <%= link_to 'Edit', edit_post_path(@post) %>
</p>
<p class='post_body'>
  <%= @post.body %>
</p>

<p>
  <%= form_for([@post, @post.comments.build], remote: true, format: :json) do |f| %>
    <%= f.text_field :user_name, placeholder: 'User name', class: 'user_name' %>
    <%= f.text_field :text, placeholder: 'Comment..' %>
    <%= f.submit class: 'btn btn-primary' %>
  <% end %>
</p>

<p>
  <%= link_to 'Refresh', post_comments_path(@post), id: 'refresh_comments', data: { remote: true, update: '#comments_wrapper' } %>
</p>


<div id='comments_wrapper'>
  <table id='post_comments_<%= @post.id %>' class='table'>
    <thead>
      <th>
        User Name
      </th>
      <th>
        Comment
      </th>
    </thead>
    <tbody>
      <% @comments.each do |comment| %>
        <% next unless comment.persisted? %>
        <tr>
          <td>
            <%= comment.user_name %>
          </td>
          <td>
            <%= comment.text %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
