<h1><%= @post.title %></h1>
<p>
  <%= link_to 'Back', root_path %>
</p>
<p>
  <%= link_to 'Edit', edit_post_path(@post) %>
</p>
<p>
  <%= @post.body %>
</p>

<p>
  <%= form_for([@post, @post.comments.build]) do |f| %>
    <%= f.text_field :user_name, placeholder: 'User name' %>
    <%= f.text_field :text, placeholder: 'Comment..' %>
    <%= f.submit class: 'btn btn-primary' %>
  <% end %>
</p>

<table class='table'>
  <thead>
    <th>
      User Name
    </th>
    <th>
      Comment
    </th>
  </thead>
  <tbody>
    <% @comments.each do |comment| %>
      <% next unless comment.persisted? %>
      <tr>
        <td>
          <%= comment.user_name %>
        </td>
        <td>
          <%= comment.text %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
