<!DOCTYPE html>
<html>
  <head>
    <title><%= I18n.translate 'site.brand', additional: 'Title' %></title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <script src="https://js.pusher.com/3.2/pusher.min.js"></script>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <h1>
      <%= I18n.translate 'site.brand', additional: 'Hello!' %>
    </h1>
    <% if current_user.blank? %>
      <h1><%= link_to 'Login', login_users_path %></h1>
      <h1><%= link_to 'Login by FB', '/auth/facebook' %></h1>
    <% else %>
      <h1>Hello, <%= current_user.name %>!!!!!!!</h1>
      <%= image_tag current_user.picture %>
      <h1><%= link_to 'Logout', logout_users_path, method: :delete %></h1>
      <h1><%= link_to 'Profile', edit_user_path(current_user) %></h1>
    <% end %>
    <%= yield %>
  <a class="btn btn-default" id="test">TEST</a>
  </body>
</html>
